.gallery-image {
    margin: 1vw auto;
    width: 70vw;
    height: 70vw;
}

@media screen and (min-device-width: 768.98px) {
    .gallery-image {
        margin: 1vw;
        width: 23vw;
        height: 23vw;
    }

    .slick-center {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        transform: scale(1.1);
    }
}